boto3==1.18.14
botocore==1.21.14
data==0.4
decorator==5.0.9
funcsigs==1.0.2
jmespath==0.10.0
numpy==1.21.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
Pillow==8.3.1
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.6
